/************** deafault css******************/

.no-padding
  padding 0 !important

.floatleft
  float left

.floatright
  float right

.alignleft
  float left
  margin-right 15px

.alignright
  float right
  margin-left 15px

.aligncenter
  display block
  margin 0 auto 15px

.padding
  padding 20px 0

a:focus
  outline 0 solid

a:hover
  text-decoration none

img
  max-width 100%
  height auto

.fix
  overflow hidden

h1,
h2,
h3,
h4,
h5,
h6
  margin 0 0 15px
  font-weight 700
  font-family 'Roboto', sans-serif

.section_padding
  padding: 80px 0

p
  font-family 'Roboto', sans-serif
  font-weight 400
  font-size 14px

body
  font-family 'Roboto', sans-serif !important

.white
  color white !important

/************** Grid css******************/
.deckgrid[deckgrid]::before
  content '3 .column.size-1-3'
  font-size 0
  visibility hidden

.deckgrid
  margin 0 auto
  .column
    float left
    &.size-1-5
      width 20%
    &.size-1-4
      width 25%
    /* 325px */
    &.size-1-3
      width 33.33333%
    &.size-1-2
      width 50%
    &.size-1-1
      width 100%

@media screen and (max-width: 840px)
  .deckgrid[deckgrid]::before
    content '3 .column.size-1-3'

@media screen and (min-width: 481px) and (max-width: 768px)
  .deckgrid[deckgrid]::before
    content '2 .column.size-1-2'

@media only screen and (max-device-width: 320px),  only screen and (max-width: 480px)
  .deckgrid[deckgrid]::before
    content '1 .column.size-1-1'

/************** main css ******************/
header
  width 100%
  .display-mobile
    display none
  .navbar-header
    width 100%
  .navbar-default
    background #f5f5f5
    height 75px
    border none
    border-radius 0
    -webkit-box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    -moz-box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    margin-bottom 0
    z-index 9999
    .navbar-nav > li > a
      padding 40px 18px
      transition all ease-in 0.1s
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus
      background-color #eeedec
      color #555
    .main-nav
      .dropdown:hover .dropdown-toggle
        background-color transparent !important
        color orange !important
      .dropdown
        .user-help
          right -126px
          border-top-left-radius 0
          border-top-right-radius 0
          .dropdown-header
            font-size 18px
            font-weight bold
        .content-cart
          position absolute
          top 7px
          background-color orange
          border-radius 50px
          width 20px
          text-align center
          left 25px
          color #f5f5f5
        .user-log
          border-top-left-radius 0px
          border-top-right-radius 0px
          right -68px
          min-width 200px
          .dropdown-header
            font-size 18px
            font-weight bold
        .user-shopping
          border-top-left-radius 0px
          border-top-right-radius 0px
          min-width 280px
          padding-bottom 0
          .dropdown-header
            font-size 16px
            font-weight bold
          .list-payment
            margin 10px 0
            color #555555 !important
          .list-total
            margin 10px 0
            font-weight bold
            color orange
    .main-nav > dropdown > a
      padding 20px 15px
    .main-nav > li > a
      padding 28px 15px
      color #888
      transition all ease-in 0.1s
    .main-nav > li > a:hover, .main-nav > li > a:focus
      background-color transparent
      color orange
    .navbar-nav
      .dropdown:hover .dropdown-toggle
        background-color #eeedec
        color #555
      .dropdown
        .btn-orange
          background #e6970f
          display inline-block
          padding 10px 15px
          color #fff !important
          font-weight 700
          border none
          border-radius 2px
          &:hover, &:focus
            background #bb7b0c
            display: inline-block
            padding 10px 15px
            color #fff
            font-weight 700
            border-radius 2px
  .name-shop
    font-size 20px
    margin-top 10px
    font-weight bold

  .logo
    width 150px

/********************************/
.box-payment
  padding 0 10px
#slider-area
  background url(../img/bg.jpg)
  padding-top 35px
  padding-bottom: 285px
  background-position: center center

  .scrollme
    color #555555
    font-size 28px

.header-margin
  margin-top 150px

.logo
  margin-top 0

.navbar-nav > li > a
  font-size: 18px
  color: #555
  font-family 'Roboto', sans-serif
  font-weight 700

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus
  background none

.slider-area-text
  text-align center
  p
    color #555
    margin 30px 0

  h2
    font-size 45px
    color #555

/************** content area default ****************/
.text-orange
  color #ff801a
.success-payment-cart
  padding-top 30px
  padding-bottom 80px
  h1
    color #555
  p
    color #777777
    font-size 18px
.title-default
  h2
    color #555555
    font-size 26px
    border-bottom 1px solid #dddddd
    padding-bottom 15px
    margin-bottom 60px
#content-area
  margin 60px 0px 60px
  .title
    color #737373
  .title-p
    color #737373
    font-size 18px
  .divider
    border: 1px solid #f5f5f5;
  .content-pages
    padding 20px 0

/************** Home area css ******************/

#section-sports
  background #172031
  text-align center
  h3
    color white
    margin-bottom 45px
  h4
    margin-top 15px
    color white

#recommendation
  .title
    padding-bottom 40px
    color #5d5d5d

.box-blog
  padding-bottom 20px
  border-bottom 1px solid #f5f5f5
  a
    color #5d5d5d
    &:hover, &:focus
      color white
  color

.prd-styl
  .box-header
    .img-prd
      background-position center center
      background-repeat no-repeat
      background-size cover
      width 100%
      height 300px
  .box-detail
    padding-left 25px

.box-default
  border 1px dashed #eee
  margin 0 5px 25px 5px
  padding 20px
  transition background-color 0.10s ease
  h2
    color #5d5d5d
    padding 10px 0
    font-size 18px
    transition all 0.10s ease
  .comment-area
    padding-bottom 10px
    .comment, .date
      color #5d5d5d
  .box-header
    .img-prd
      background-position center center
      background-repeat no-repeat
      background-size cover
      width 100%
      height 200px
  .box-container
    text-align center
    height 80px
    h1
      color #5d5d5d
      font-weight 300
      font-size 18px
      margin 10px 0
      transition color 0.10s ease
  .box-footer
    text-align center
  &:hover, &:focus
    background transparent
    h1, h2
      color #999
    .comment-area
      .date, .comment
        color white

.widgets
  margin-top 30px

.box-sidebar
  .box-header
    background #5d5d5d
    padding 10px
    font-size 20px
    text-align center
    color white
  .box-body
    .list-group
      boder-radius 0
      .list-group-item:first-child
        border-top-left-radius 0px
        border-top-right-radius 0px

.parallax
  perspective 1px
  height 400px
  overflow-x hidden
  overflow-y auto
  background #172031

.parallax__layer
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.parallax
  background-image url('../img/parallax.jpg')
  background-repeat no-repeat
  background-position center center
  background-size cover
  .content-contact
    line-height 50px
  .title
    padding-top 50px
    text-align center
    h3, h1
      color white
  .contact
    margin-top 30px
    a
      color white
      font-size 32px
  .content-contact
    .social
      a
        color white
        font-size 32px
        padding-right 10px
  .content-contact
    text-align center
    padding 0 0 60px 0

/* Projects detail */
.recommendations-detail
  padding-top 60px

.box-detail
  .description
    border-top 1px solid #bababa
    border-bottom 1px solid #bababa
    padding 20px 0
    margin 25px 0
    position relative
    &:before
      content 'Descripción'
      position absolute
      top -15px
      font-size 18px
      background #fff
      padding-right 10px
      font-weight bold
      color #999

.breadcrumb
  padding 8px 15px
  margin-bottom 20px
  list-style none
  background-color transparent
  border-radius 0
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc
  margin-bottom 60px

  li > a
    color #cccccc

.img-size
  a > img
    width 100%

/************** footer area css ******************/
#footer_area
  background #172031
  padding 30px 0
  color #fff
  position absolute
  width 100%

  .social-media
    padding 5px

  .footer-links
    color #fff
    &:hover, &:focus
      color #ff801a

  .divider_footer
    border-top 1px solid #1C263A

  .company_logo
    margin 50px

  .company_address
    padding 10px 30px

  .company_address
    h2
      font-size 18px
      text-transform uppercase

    p
      font-size 14px
      font-weight 300

    h3
      font-size 14px
      font-weight 300

/**************** Buttons ***************/

/* buttons sizes */
.btn-cart
  padding 10px 15px !important
  margin 15px 0
.btn-sm
  padding 0 5px !important

.btn-yellow
  background #cbae00
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px
  border none
  border-radius 0
  &:hover, &:focus
    background #AE9400
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 0px

.btn-orange
  background #e6970f
  display inline-block
  padding 10px 15px
  color #fff !important
  font-weight 700
  border none
  border-radius 2px
  &:hover, &:focus
    background #bb7b0c
    display: inline-block
    padding 10px 15px
    color #fff
    font-weight 700
    border-radius 2px

.btn-default
  background #f5f5f5
  display inline-block
  padding 10px 15px
  border 1px solid #dddddd
  color #555
  font-weight 700
  border-radius 2px
  &:hover, &:focus
    background #dddddd
    border 1px solid #dddddd
    display inline-block
    padding 10px 15px
    color #555
    font-weight 700
    border-radius 2px

.btn-blue
  background #286090
  display inline-block
  padding 10px 15px
  color #fff
  font-weight 700
  border none
  border-radius 2px
  &:hover, &:focus
    background #215078
    display: inline-block
    padding 10px 15px
    color #fff
    font-weight 700
    border-radius 2px

.btn-green
  background #4ECB8C;
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px

  &:hover, &:focus
    background #43926A
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 5px

.btn-orange-clear
  background transparent
  display inline-block
  padding 10px 15px
  color #fff
  font-weight 700
  border 2px solid #e6970f
  border-radius 2px
  &:hover, &:focus
    background #e6970f
    border 2px solid #e6970f
    display inline-block
    padding 10px 15px
    color #fff
    font-weight 700
    border-radius 2px

.btn-white-clear
  background transparent
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border 3px solid #fff
  border-radius 5px

  &:hover, &:focus
    background #fff
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #FF801A
    font-weight 700
    border-radius 5px
    border 3px solid #fff

/*********** Page contact *************/
.facebook
  color #666666
  i
    color #3B5998

.twitter
  color #666666
  i
    color #28A9E0

.linkedin
  color #666666
  i
    color #0177B5

.social-media
  color #666666
  padding 60px 0

.phone
  color #666666
  i
    color #FF801A

.marker
  color #666666
  i
    color #E85A5A

.mail
  color #666666
  i
    color #FFA500

/******** Form section *************/

.form-section
  background transparent
  padding 0
  .title, .text-form
    color #565656

.form-control
  display block
  width 100%
  height 40px
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color: #555
  background-color #fff
  background-image none
  border 1px solid #dddddd
  border-radius 4px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  -webkit-transition border-color ease-in-out .15s
  -webkit-box-shadow ease-in-out .15s
  -o-transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s

  &:focus
    border-color #cccccc
    outline 0
    -webkit-box-shadow 0 0 0 9px rgba(0, 0, 0, 0)
    box-shadow 0 0 0 9px rgba(0, 0, 0, 0)


