.no-padding {
  padding: 0 !important;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
.padding {
  padding: 20px 0;
}
a:focus {
  outline: 0 solid;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.fix {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.section_padding {
  padding: 80px 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
body {
  font-family: 'Roboto', sans-serif !important;
}
.white {
  color: #fff !important;
}
.deckgrid[deckgrid]::before {
  content: '3 .column.size-1-3';
  font-size: 0;
  visibility: hidden;
}
.deckgrid {
  margin: 0 auto;
}
.deckgrid .column {
  float: left;
/* 325px */
}
.deckgrid .column.size-1-5 {
  width: 20%;
}
.deckgrid .column.size-1-4 {
  width: 25%;
}
.deckgrid .column.size-1-3 {
  width: 33.33333%;
}
.deckgrid .column.size-1-2 {
  width: 50%;
}
.deckgrid .column.size-1-1 {
  width: 100%;
}
@media screen and (max-width: 840px) {
  .deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}
@media only screen and (max-device-width: 320px), only screen and (max-width: 480px) {
  .deckgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}
header {
  width: 100%;
}
header .display-mobile {
  display: none;
}
header .navbar-header {
  width: 100%;
}
header .navbar-default {
  background: #f5f5f5;
  height: 75px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.43);
  box-shadow: 0 0 15px rgba(0,0,0,0.43);
  margin-bottom: 0;
  z-index: 9999;
}
header .navbar-default .navbar-nav > li > a {
  padding: 40px 18px;
  transition: all ease-in 0.1s;
}
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus {
  background-color: #eeedec;
  color: #555;
}
header .navbar-default .main-nav .dropdown:hover .dropdown-toggle {
  background-color: transparent !important;
  color: #ffa500 !important;
}
header .navbar-default .main-nav .dropdown .user-help {
  right: -126px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
header .navbar-default .main-nav .dropdown .user-help .dropdown-header {
  font-size: 18px;
  font-weight: bold;
}
header .navbar-default .main-nav .dropdown .content-cart {
  position: absolute;
  top: 7px;
  background-color: #ffa500;
  border-radius: 50px;
  width: 20px;
  text-align: center;
  left: 25px;
  color: #f5f5f5;
}
header .navbar-default .main-nav .dropdown .user-log {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  right: -68px;
  min-width: 200px;
}
header .navbar-default .main-nav .dropdown .user-log .dropdown-header {
  font-size: 18px;
  font-weight: bold;
}
header .navbar-default .main-nav .dropdown .user-shopping {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-width: 280px;
  padding-bottom: 0;
}
header .navbar-default .main-nav .dropdown .user-shopping .dropdown-header {
  font-size: 16px;
  font-weight: bold;
}
header .navbar-default .main-nav .dropdown .user-shopping .list-payment {
  margin: 10px 0;
  color: #555 !important;
}
header .navbar-default .main-nav .dropdown .user-shopping .list-total {
  margin: 10px 0;
  font-weight: bold;
  color: #ffa500;
}
header .navbar-default .main-nav > dropdown > a {
  padding: 20px 15px;
}
header .navbar-default .main-nav > li > a {
  padding: 28px 15px;
  color: #888;
  transition: all ease-in 0.1s;
}
header .navbar-default .main-nav > li > a:hover,
header .navbar-default .main-nav > li > a:focus {
  background-color: transparent;
  color: #ffa500;
}
header .navbar-default .navbar-nav .dropdown:hover .dropdown-toggle {
  background-color: #eeedec;
  color: #555;
}
header .navbar-default .navbar-nav .dropdown .btn-orange {
  background: #e6970f;
  display: inline-block;
  padding: 10px 15px;
  color: #fff !important;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}
header .navbar-default .navbar-nav .dropdown .btn-orange:hover,
header .navbar-default .navbar-nav .dropdown .btn-orange:focus {
  background: #bb7b0c;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
}
header .name-shop {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
header .logo {
  width: 150px;
}
.box-payment {
  padding: 0 10px;
}
#slider-area {
  background: url("../img/bg.jpg");
  padding-top: 35px;
  padding-bottom: 285px;
  background-position: center center;
}
#slider-area .scrollme {
  color: #555;
  font-size: 28px;
}
.header-margin {
  margin-top: 150px;
}
.logo {
  margin-top: 0;
}
.navbar-nav > li > a {
  font-size: 18px;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
  background: none;
}
.slider-area-text {
  text-align: center;
}
.slider-area-text p {
  color: #555;
  margin: 30px 0;
}
.slider-area-text h2 {
  font-size: 45px;
  color: #555;
}
.text-orange {
  color: #ff801a;
}
.success-payment-cart {
  padding-top: 30px;
  padding-bottom: 80px;
}
.success-payment-cart h1 {
  color: #555;
}
.success-payment-cart p {
  color: #777;
  font-size: 18px;
}
.title-default h2 {
  color: #555;
  font-size: 26px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 60px;
}
#content-area {
  margin: 60px 0px 60px;
}
#content-area .title {
  color: #737373;
}
#content-area .title-p {
  color: #737373;
  font-size: 18px;
}
#content-area .divider {
  border: 1px solid #f5f5f5;
}
#content-area .content-pages {
  padding: 20px 0;
}
#section-sports {
  background: #172031;
  text-align: center;
}
#section-sports h3 {
  color: #fff;
  margin-bottom: 45px;
}
#section-sports h4 {
  margin-top: 15px;
  color: #fff;
}
#recommendation .title {
  padding-bottom: 40px;
  color: #5d5d5d;
}
.box-blog {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
color
}
.box-blog a {
  color: #5d5d5d;
}
.box-blog a:hover,
.box-blog a:focus {
  color: #fff;
}
.prd-styl .box-header .img-prd {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.prd-styl .box-detail {
  padding-left: 25px;
}
.box-default {
  border: 1px dashed #eee;
  margin: 0 5px 25px 5px;
  padding: 20px;
  transition: background-color 0.1s ease;
}
.box-default h2 {
  color: #5d5d5d;
  padding: 10px 0;
  font-size: 18px;
  transition: all 0.1s ease;
}
.box-default .comment-area {
  padding-bottom: 10px;
}
.box-default .comment-area .comment,
.box-default .comment-area .date {
  color: #5d5d5d;
}
.box-default .box-header .img-prd {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.box-default .box-container {
  text-align: center;
  height: 80px;
}
.box-default .box-container h1 {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 18px;
  margin: 10px 0;
  transition: color 0.1s ease;
}
.box-default .box-footer {
  text-align: center;
}
.box-default:hover,
.box-default:focus {
  background: transparent;
}
.box-default:hover h1,
.box-default:focus h1,
.box-default:hover h2,
.box-default:focus h2 {
  color: #999;
}
.box-default:hover .comment-area .date,
.box-default:focus .comment-area .date,
.box-default:hover .comment-area .comment,
.box-default:focus .comment-area .comment {
  color: #fff;
}
.widgets {
  margin-top: 30px;
}
.box-sidebar .box-header {
  background: #5d5d5d;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.box-sidebar .box-body .list-group {
  boder-radius: 0;
}
.box-sidebar .box-body .list-group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.parallax {
  perspective: 1px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #172031;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax {
  background-image: url("../img/parallax.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.parallax .content-contact {
  line-height: 50px;
}
.parallax .title {
  padding-top: 50px;
  text-align: center;
}
.parallax .title h3,
.parallax .title h1 {
  color: #fff;
}
.parallax .contact {
  margin-top: 30px;
}
.parallax .contact a {
  color: #fff;
  font-size: 32px;
}
.parallax .content-contact .social a {
  color: #fff;
  font-size: 32px;
  padding-right: 10px;
}
.parallax .content-contact {
  text-align: center;
  padding: 0 0 60px 0;
}
.recommendations-detail {
  padding-top: 60px;
}
.box-detail .description {
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  padding: 20px 0;
  margin: 25px 0;
  position: relative;
}
.box-detail .description:before {
  content: 'Descripción';
  position: absolute;
  top: -15px;
  font-size: 18px;
  background: #fff;
  padding-right: 10px;
  font-weight: bold;
  color: #999;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 60px;
}
.breadcrumb li > a {
  color: #ccc;
}
.img-size a > img {
  width: 100%;
}
#footer_area {
  background: #172031;
  padding: 30px 0;
  color: #fff;
  position: absolute;
  width: 100%;
}
#footer_area .social-media {
  padding: 5px;
}
#footer_area .footer-links {
  color: #fff;
}
#footer_area .footer-links:hover,
#footer_area .footer-links:focus {
  color: #ff801a;
}
#footer_area .divider_footer {
  border-top: 1px solid #1c263a;
}
#footer_area .company_logo {
  margin: 50px;
}
#footer_area .company_address {
  padding: 10px 30px;
}
#footer_area .company_address h2 {
  font-size: 18px;
  text-transform: uppercase;
}
#footer_area .company_address p {
  font-size: 14px;
  font-weight: 300;
}
#footer_area .company_address h3 {
  font-size: 14px;
  font-weight: 300;
}
.btn-cart {
  padding: 10px 15px !important;
  margin: 15px 0;
}
.btn-sm {
  padding: 0 5px !important;
}
.btn-yellow {
  background: #cbae00;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  border-radius: 0;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background: #ae9400;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 0px;
}
.btn-orange {
  background: #e6970f;
  display: inline-block;
  padding: 10px 15px;
  color: #fff !important;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}
.btn-orange:hover,
.btn-orange:focus {
  background: #bb7b0c;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
}
.btn-default {
  background: #f5f5f5;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ddd;
  color: #555;
  font-weight: 700;
  border-radius: 2px;
}
.btn-default:hover,
.btn-default:focus {
  background: #ddd;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 10px 15px;
  color: #555;
  font-weight: 700;
  border-radius: 2px;
}
.btn-blue {
  background: #286090;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}
.btn-blue:hover,
.btn-blue:focus {
  background: #215078;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
}
.btn-green {
  background: #4ecb8c;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.btn-green:hover,
.btn-green:focus {
  background: #43926a;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.btn-orange-clear {
  background: transparent;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #e6970f;
  border-radius: 2px;
}
.btn-orange-clear:hover,
.btn-orange-clear:focus {
  background: #e6970f;
  border: 2px solid #e6970f;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
}
.btn-white-clear {
  background: transparent;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border: 3px solid #fff;
  border-radius: 5px;
}
.btn-white-clear:hover,
.btn-white-clear:focus {
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #ff801a;
  font-weight: 700;
  border-radius: 5px;
  border: 3px solid #fff;
}
.facebook {
  color: #666;
}
.facebook i {
  color: #3b5998;
}
.twitter {
  color: #666;
}
.twitter i {
  color: #28a9e0;
}
.linkedin {
  color: #666;
}
.linkedin i {
  color: #0177b5;
}
.social-media {
  color: #666;
  padding: 60px 0;
}
.phone {
  color: #666;
}
.phone i {
  color: #ff801a;
}
.marker {
  color: #666;
}
.marker i {
  color: #e85a5a;
}
.mail {
  color: #666;
}
.mail i {
  color: #ffa500;
}
.form-section {
  background: transparent;
  padding: 0;
}
.form-section .title,
.form-section .text-form {
  color: #565656;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  -webkit-transition: border-color ease-in-out 0.15s;
  -webkit-box-shadow: ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: 0 0 0 9px rgba(0,0,0,0);
  box-shadow: 0 0 0 9px rgba(0,0,0,0);
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_area_text {
    padding-right: 160px;
  }
  .single_feature i {
    left: 38%;
  }
  .story_image {
    margin-bottom: 20px;
  }
  .skills {
    margin-top: 50px;
  }
  .company_address {
    padding: 10px 26px;
  }
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  .post-oustanding {
    padding: 5px 0px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog .title-outstanding {
    font-size: 16px !important;
    padding: 20px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog p {
    font-size: 12px;
    margin-top: 5px;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .box-default .box-header .img-prd {
    background-size: 100%;
  }
  .box-default .box-container h1 {
    font-size: 16px;
  }
  .box-footer .btn-orange {
    width: 100%;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
  }
  .nopdg-movile {
    padding: 0 3px;
  }
  .box-default {
    border: 1px dashed #eee;
    margin: 0 0 25px 0;
    padding: 0;
  }
  .header {
    position: fixed;
    z-index: 999999;
  }
  header .btn-orange {
    color: #fff !important;
    margin: 0;
    border-radius: 0;
  }
  .container-mobile {
    padding-right: 0;
    padding-left: 0;
  }
  .display-desktop {
    display: none !important;
  }
  .display-mobile {
    display: inline-block !important;
  }
  header .navbar-header {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center;
  }
  .navbar-default .navbar-brand {
    width: 100%;
  }
  .main-cart {
    display: inline-block;
    padding: 0 15px;
  }
  .main-nav {
    background-color: transparent;
    display: inline-block !important;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0 auto;
  }
  .navbar-nav > li > a {
    font-size: 14px;
  }
  .main-nav > dropdown > a {
    padding: 15px 15px;
  }
  .main-nav > li > a {
    margin: 0;
    padding: 15px 15px;
    color: #888;
    transition: all ease-in 0.1s;
  }
  .main-nav > li > a:hover,
  .main-nav > li > a:focus {
    background-color: transparent;
    color: #ffa500;
  }
  header .navbar-default .main-nav > li > a {
    padding: 0 15px;
  }
  header .navbar-default {
    height: auto;
  }
  h2.title-outstanding {
    font-size: 16px !important;
    padding: 20px 10px !important;
  }
  .post-out {
    display: none;
  }
  #content-area {
    margin: 160px 0px 60px;
  }
  .content-blog {
    margin: 0px 0px 60px !important;
  }
  #slider-area {
    padding-bottom: 300px;
  }
  .portfolio_content {
    position: relative;
    margin-bottom: 0;
  }
  .portfolio_content p {
    border: 2px solid #e3e3e3;
    padding: 20px 40px;
  }
  .portfolio_content h3 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 125px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 160px;
    background: transparent;
    text-shadow: 0 1px 4px rgba(0,0,0,0.51);
  }
  .container-main {
    width: 100%;
    padding: 0;
  }
  .logo {
    margin-top: 0;
    width: 180px;
    margin-top: -5px;
  }
  #header_area {
    padding-top: 5px;
    background-size: cover;
  }
  .parallax .contact {
    text-align: center !important;
  }
  .navbar-toggle {
    background-color: transparent;
    margin-top: 30px;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background: #fff;
    margin-top: 20px;
  }
  .navbar-default .navbar-toggle {
    border: none;
    display: none;
  }
  .header_area_text h2 {
    font-size: 30px;
  }
  .header_area_text {
    padding-right: 0;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .header_area_text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header_area_text a,
  .story_text a,
  .experience a,
  .call_project a {
    padding: 8px 10px;
    margin-top: 0;
  }
  .single_feature {
    margin-bottom: 60px;
  }
  .single_feature i {
    left: 40%;
  }
  .story_text h2,
  .experience h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .clients_say p::before {
    display: none;
  }
  .say {
    width: 85%;
  }
  .c_img {
    width: 15%;
  }
  .clients_say p {
    padding: 10px;
  }
  .clients_say {
    margin-bottom: 60px;
  }
  .skills h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .single_blog {
    margin-bottom: 30px;
    padding: 0px;
  }
  .single_blog h2 {
    width: 100%;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
  .single_blog p {
    font-size: 12px;
    margin-top: 5px;
  }
  .call_to_action_text h2 {
    font-size: 22px;
  }
  .call_to_action_text p {
    font-size: 12px;
    margin-top: 5px;
  }
  .text-right {
    text-align: left;
  }
  p {
    font-size: 12px;
  }
  h2 {
    font-size: 22px;
  }
  .company_address p {
    font-size: 12px;
  }
  .company_address h2 {
    font-size: 16px;
  }
  .company_address {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single_feature i {
    left: 46%;
    top: -22%;
  }
  .single_blog img {
    width: 100%;
  }
}
