<!doctype html>
<html lang="es" ng-app="annalise">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ shopName }}</title>
    <meta name="keywords"
          content="">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <base href="/">
    <!--Favicon-->
    <link href="https://mercadomovil.com.mx/img/ico/favicon.ico" rel="shortcut icon" type="favicon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="https://mercadomovil.com.mx/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://mercadomovil.com.mx/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="https://mercadomovil.com.mx/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="https://mercadomovil.com.mx/img/ico/apple-touch-icon-57-precomposed.png">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <!-- build:css css/style.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/animate.css/animate.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.css" />
    <link rel="stylesheet" href="lib/lightbox2/dist/css/lightbox.css" />
    <link rel="stylesheet" href="lib/angular-block-ui/dist/angular-block-ui.css" />
    <link rel="stylesheet" href="lib/angular-toasty/dist/angular-toasty.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
<!--[if	lt	IE	8]>
<p class="browsehappy">
    Estás usando un navegador <strong>desactualizado</strong>.
    Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a>
    Para mejorar la experiencia..
</p>
<![endif]-->
<header class="header">
    <nav class="navbar navbar-default navbar-orange">
        <div class="container container-mobile">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-mainmenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand name-shop" ui-sref="home">
                    {{ shopName }}
                </a>
                <ul class="main-cart nav navbar-nav navbar-right display-desktop">
                    <li class="dropdown">
                        <a class="btn btn-orange btn-cart" ng-show="items.length" ui-sref="cart">
                            <i class="fa fa-shopping-cart"></i> Ir a carrito({{ items.length }})</a>
                    </li>
                </ul>
                <!--<ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <!--<li><a ui-sref="contact">Contactanos </a></li>
                </ul>-->
                <a class="btn btn-orange btn-cart btn-block display-mobile" ng-show="items.length" ui-sref="cart"><i
                        class="fa fa-shopping-cart"></i> Ir a carrito ({{ items.length }})</a>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!-- end header top area -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div ui-view="content"></div>
        </div>
    </div>
</div>

<footer id="footer_area">
    <ng-include src="'/templates/partials/footer.html'"></ng-include>
</footer>
<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/wow/dist/wow.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="lib/owl.carousel/dist/owl.carousel.js"></script>
<script src="lib/angular-deckgrid/angular-deckgrid.js"></script>
<script src="lib/lightbox2/dist/js/lightbox.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/ng-repeat-owl-carousel/dist/ngRepeatOwlCarousel.min.js"></script>
<script src="lib/angular-block-ui/dist/angular-block-ui.js"></script>
<script src="lib/ngstorage/ngStorage.js"></script>
<script src="lib/angular-toasty/dist/angular-toasty.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/annalise.min.js -->
<!-- inject:js -->
<script src="/js/app.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/services.js"></script>
<script src="/js/templates.js"></script>
<!-- endinject -->
<!-- endbuild -->
<toasty></toasty>
</body>
</html>