<section id="content-area">
    <div class="container">
        <div class="title-default">
            <h2>Carrito de compras</h2>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-6 box-payment">
                    <table class="table table-responsive table-striped">
                        <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{ item.name }}</td>
                            <td>{{ item.qty }} x {{ item.price | currency }}</td>
                            <td>
                                <button class="btn btn-sm" ng-click="Cart.setItem(item, item.qty - 1)">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-sm" ng-click="Cart.setItem(item, item.qty + 1)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong class="pull-right">Precio de envio:</strong></td>
                            <td><strong>{{ shipmentPrice | currency }}</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong class="pull-right">Total:</strong></td>
                            <td><strong>{{ total | currency }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 box-payment">
                    <form name="Cart.paymentForm" ng-submit="Cart.processPayment()">
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email <span class="text-danger-dk">*</span></label>
                                        <input class="form-control" ng-model="Cart.payment.email" type="email"
                                               name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Teléfono <span class="text-danger-dk">*</span></label>
                                        <input class="form-control" ng-model="Cart.payment.phone" type="text"
                                               name="phone" id="phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cardholder">Tarjetahabiente <span
                                                class="text-danger-dk">*</span></label>
                                        <input class="form-control" ng-model="Cart.payment.card.name" type="text"
                                               name="cardholder" id="cardholder" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="card">Número de tarjeta <span
                                                class="text-danger-dk">*</span></label>
                                        <input class="form-control" ng-model="Cart.payment.card.number" type="text"
                                               name="card" id="card" required>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="month">Mes <span class="text-danger-dk">*</span></label>
                                        <input class="form-control" ng-model="Cart.payment.card.exp_month"
                                               type="number"
                                               name="month" id="month" required>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="year">Año <span class="text-danger-dk">*</span></label>
                                        <input class="form-control" ng-model="Cart.payment.card.exp_year"
                                               type="number"
                                               name="year" id="year" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="code">CVC <span class="text-danger-dk">*</span></label>
                                        <input class="form-control" ng-model="Cart.payment.card.cvc" type="number"
                                               name="code" id="code" required>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">

                                <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                                <button class="btn btn-btn btn-default" ng-click="Cart.clearCart();">Cancelar</button>
                                <button type="submit" ng-disabled="Cart.busyCard"
                                        class="btn btn-btn btn-blue pull-right">
                                    Realizar pago <span ng-show="Cart.busyCard">
                                    <i class="fa fa-spinner fa-spin"></i></span>
                                </button>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>