<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="content-pages">
                <div class="container prd-styl">
                    <div class="col-sm-4 gallery-prd no-padding">

                        <div class="">
                            <div class="box-header">
                                <div class="img-prd"
                                     style="background-image: url('{{ Item.detail.attachments[0].url }}')"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="box-detail">
                            <div class="title">
                                <h3>{{ Item.detail.name }}</h3>
                            </div>
                            <h2>{{ Item.detail.price | currency }}</h2>
                            <h5 ng-if="Item.detail.shipmentPrice > 0">Precio de envio {{ Item.detail.shipmentPrice | currency }}</h5>
                            <button class="btn btn-orange text-center" ng-disabled="Item.itemInCart(item)"
                                    ng-click="Item.setItem({id: Item.detail.id, price: Item.detail.price, name: Item.detail.name, qty: 1, shipmentPrice: Item.detail.shipmentPrice}, null, 'cart');">
                                <i class="fa fa-shopping-cart"></i> Comprar ahora
                            </button>
                            <div class="description" ng-bind-html="Item.detail.description"></div>
                            <button class="btn btn-orange" ng-disabled="Item.itemInCart(item)"
                                    ng-click="Item.setItem({id: Item.detail.id, price: Item.detail.price, name: Item.detail.name, qty: 1, shipmentPrice: Item.detail.shipmentPrice}, null, 'cart');">
                                <i class="fa fa-shopping-cart"></i> Comprar ahora
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="Item.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>